<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>QUnit Test Page</title>
	<link rel="stylesheet" href="Content/qunit.css" type="text/css" />

	<script src="Scripts/appTests/qunit.js" type="text/javascript"></script>
	<script src="Scripts/underscore.js"></script>
	<script src="Scripts/app/constants.js"></script>
	<script src="Scripts/requireConfig.js"></script>
	<script src="Scripts/require.js"></script>
	<script src="Scripts/appTests/sinon-1.4.2.js"></script>
	<script src="Scripts/backbone.min.js"></script>
	<!--<script src="Scripts/appTests/sinon-qunit-1.0.0.js"></script>-->
	<script src="Scripts/appTests/createContext.js"></script>
	<script src="Scripts/appTests/testUtilities.js"></script>
	<script src="Scripts/appTests/amdQunit.js"></script>
	<!-- app Code -->
	
	
	<script id="node-template" type="text/template">
		<span data-taskId="<%= Id %>">
			<a class="taskTitle" href="#/task/<%= Id %>"><%= title %></a>
			<div class="taskAdd"></div>
		</span>
		<ul></ul>
	</script>

	<!-- Unit test code goes here -->  
	<script src="Scripts/appTests/taskHierarchy/taskHierarchyController.test.js"></script>
	<script src="Scripts/appTests/collections/tasks.test.js"></script>
	<script src="Scripts/appTests/models/task.test.js"></script>
	<script src="Scripts/appTests/eventSink.test.js"></script>
	<script src="Scripts/appTests/taskHierarchy/taskHierarchyView.integration.test.js"></script>
	<script src="Scripts/appTests/taskHierarchy/taskHierarchyView.test.js"></script>
	<script src="Scripts/appTests/viewUtilities.test.js"></script>
	<script src="Scripts/appTests/taskDescriptions/taskDescriptionsController.test.js"></script>
	<script src="Scripts/appTests/taskDescriptions/taskDescriptionsView.test.js"></script>
	<script src="Scripts/appTests/collections/tasks.integration.test.js"></script>
	<script src="Scripts/appTests/collections/subTasks.test.js"></script>
</head>
<body>
	<h1 id="qunit-header">Intertwyne QUnit Test</h1>
	<h2 id="qunit-banner"></h2>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
</body>
</html>
 